@charset "UTF-8";
/* CSS Document */
@import url('html5doctor-reset.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Paytone+One|Sacramento');

/*
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Paytone One', sans-serif;
*/
body {
	background-color: #9B4C4D;
}

h1 {
	color:#0f0;
}